/* Will be compiled down to a single stylesheet with your sass files */

html {
  /* Defaults css for cssmin process */
}

body {
  width: 600px;
  height: auto;
  margin: 10px;
}

.CodeMirror {
  border: 1px solid #eee;
  height: 200px;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.chrome-container {
  /*padding: 10px;*/
}

.chrome-container .row {
  margin-bottom: 10px;
}

.chrome-container fieldset.form-group .control-label {
  padding-top: 2px
}

.chrome-container fieldset.form-group .form-control {
  height: 24px
}

.chrome-container fieldset.form-group label {
  font-weight: normal;
  font-size: 0.9em;
}

.chrome-container fieldset.form-group select {
  font-size: 0.9em;
}

.chrome-container .options-panel-title {
  cursor: pointer;
}

