<!doctype html>
<html ng-app="CpbApp"  ng-csp="">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- build:css styles/popup.min.css -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
  <link href="bower_components/codemirror/lib/codemirror.css"  type="text/css" rel="stylesheet">
  <link href="styles/main.css" rel="stylesheet">
  <!-- endbuild -->

  <!-- build:js scripts/popup.min.js -->
  <script src="bower_components/jquery/jquery.js"></script>
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="bower_components/codemirror/lib/codemirror.js"></script>

  <script type="text/javascript" src="bower_components/angular-ui-codemirror/ui-codemirror.js"></script>

  <script src="scripts/xml2json.js"></script>
  <script src="scripts/config.js"></script>
  <script src="scripts/popup.js"></script>
  <!-- endbuild -->

</head>
<body>
  <!-- CHROME EXTENSION OPTION -->
  <h2>Quick Pastebin Options</h2>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Login Details</h3>
    </div>
    <div class="panel-body" ng-controller="LoginCtrl">
      <div  ng-hide="currentUser != null">
        <form class="form-inline" role="form" ng-submit="login()">
          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail2">Username</label>
            <input type="text" required="required" ng-model="loginForm.api_user_name" class="form-control" id="exampleInputEmail2" placeholder="Username"></div>
          <div class="form-group">
            <label class="sr-only" for="exampleInputPassword2">Password</label>
            <input type="password"  required="required" ng-model="loginForm.api_user_password" class="form-control" id="exampleInputPassword2" placeholder="Password"></div>
          <button type="submit" ng-hide="inProgress" class="btn btn-default">Sign in</button>
        </form>
        <div class="row" ng-show="error">
          <div class="col-xs-12">
            <p ng-hide="inProgress" class="text-danger">ERROR: <strong>{{error}}</strong></p>
          </div>
        </div>
        <br ng-show="inProgress" />
        <div ng-show="inProgress" class="progress progress-striped active">
          <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
      </div>

      <div ng-show="currentUser != null" class="media">
        <div class="pull-left" href="#">
          <img class="media-object" ng-src="{{currentUser.user_avatar_url}}" alt="{{currentUser.user_name}}"></div>
        <div class="media-body">
          <h5 class="media-heading">
            Logged in as
            <a href="http://pastebin.com/u/{{currentUser.user_name}}" target="_blank" title="{{currentUser.user_name}}">{{currentUser.user_name}}</a>
          </h5>
          <button class="btn btn-default btn-primary btn-xs" ng-click="logout()">Logout</button>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Default Paste Options</h3>
    </div>
    <div class="panel-body" ng-controller="PasteOptionsCtrl">
      <div  class="row">
        <div class="form-group col-xs-6">
          <label for="pasteExpirePeriod" class="col-xs-5 control-label">Expiry:</label>
          <div class="col-xs-7">
            <select class="form-control" ng-change="saveOption('api_paste_expire_date')"  id="pasteExpirePeriod" ng-model="paste.api_paste_expire_date" ng-options="c.value as c.name for c in pasteExpirePeriodConfig"></select>
          </div>
        </div>
        <div class="form-group col-xs-6 pull-right">
          <label for="pastePrivate" class="col-xs-5 control-label">Privacy:</label>
          <div class="col-xs-7">
            <select class="form-control" ng-change="saveOption('api_paste_private')"  id="pastePrivate" ng-model="paste.api_paste_private" ng-options="c.value as c.name for c in pastePrivateConfig" options-disabled="p.disabled for p in pastePrivateConfig"></select>
          </div>
        </div>
      </div>
      <div  class="row">
        <div class="form-group col-xs-6">
          <label for="pasteSyntax" class="col-xs-5 control-label">Syntax:</label>
          <div class="col-xs-7">
            <select ng-change="saveOption('api_paste_format')" class="form-control" id="pasteSyntax" ng-model="paste.api_paste_format" ng-options="c.value as c.name for c in pasteSyntaxConfig" 
        options-disabled="p.disabled for p in pasteSyntaxConfig"></select>
          </div>
        </div>
        <div class="form-group col-xs-6 pull-right">
          <label for="pasteName" class="col-xs-5 control-label">File Name:</label>
          <div class="col-xs-7">
            <input type="text" ng-change="saveOption('api_paste_name')"  ng-model="paste.api_paste_name" class="form-control" id="pasteName" placeholder="Title (optional)"></div>
        </div>
      </div>
      <button class="btn btn-default btn-default btn-xs" ng-click="resetOptions()">Reset Options</button>
    </div>
  </div>

</body>
</html>